.whole {
  padding-left: 3em;
}

#start-button {
  height: 2em;
  margin-top: 1em;
}

#noteOn-button {
  height: 2em;
  margin-top: 1em;
}

.section-title {
  text-decoration: underline;
}

.section {
  display: flex;
}

.param {
  width: 12em;
  padding: 0em;
}